/* .ag-cell {
  align-items: center;
  text-align: center;
}

.ag-header-cell {
  align-items: center;
  text-align: center;
}

.ag-header-cell-label {
  align-items: center;
  text-align: center;
}

.ag-cell-label-container {
  align-items: center;
  text-align: center;
}

.ag-header-cell-comp-wrapper {
  align-items: center;
  text-align: center;
} */
